<mat-card class="margin-bottom">
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <iframe mat-card-image frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=Papakura%2C%20Auckland&t=&z=14&ie=UTF8&iwloc=B&output=embed"><a
      href="https://www.gps.ie/car-satnav-gps/">Sat Navs</a>
  </iframe>
  <mat-card-content class="margin-top margin-bottom">
    <p>
      The Shiba Inu is the smallest of the six original and distinct
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-flat-button extended href="#" target="_blank" color="primary">
      <mat-icon>open_in_new</mat-icon>
      CHECK
    </a>
  </mat-card-actions>
</mat-card>