<mat-toolbar class="navbar" color="primary">
	<span class="title" routerLink="/search">Nz Job Searcher</span>
	<div class="search">
		<mat-form-field appearance="outline" color="accent">
			<mat-icon matIconPrefix>search</mat-icon>
			<mat-label>Search</mat-label>
			<input matInput type="text" [(ngModel)]="searchText" (keydown.enter)="search()" />
			<button matSuffix mat-icon-button aria-label="Clear" (click)="searchText = ''" [ngClass]="{ hide: !searchText }">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</div>
	<a mat-flat-button color="primary" routerLink="/account"><mat-icon>account_circle</mat-icon>Perfil</a>
</mat-toolbar>
