<mat-toolbar color="primary">
	<div class="container">
		<div class="row between-md middle-md">
			<div class="col-md">
				<h1>Nz Job Searcher</h1>
			</div>
			<div class="col-md-3">
				<mat-form-field appearance="outline" color="accent">
					<mat-icon matIconPrefix>search</mat-icon>
					<mat-label>Search</mat-label>
					<input matInput type="text" [(ngModel)]="filterText" />
					@if (filterText) {
						<button matSuffix mat-icon-button aria-label="Clear" (click)="filterText = ''">
							<mat-icon>close</mat-icon>
						</button>
					}
				</mat-form-field>
			</div>
			<div class="col-md-1">
				<a mat-flat-button color="primary"><mat-icon>account_circle</mat-icon>Perfil</a>
			</div>
		</div>
	</div>
</mat-toolbar>
