<div class="container-fluid margin-top">
	<div class="row">
		<div class="col-md-12 container">
			<div class="row margin-top between-md middle-md">
				<div class="col-md-12">
					<mat-toolbar>
						<span>This is what are you searching</span>
						<mat-form-field appearance="outline">
							<mat-icon matIconPrefix>search</mat-icon>
							<mat-label>Search</mat-label>
							<input matInput type="text" [(ngModel)]="filterText" />
							@if (filterText) {
								<button matSuffix mat-icon-button aria-label="Clear" (click)="filterText = ''">
									<mat-icon>close</mat-icon>
								</button>
							}
						</mat-form-field>
					</mat-toolbar>
				</div>
			</div>
			<div class="row margin-top padding-top">
				<div class="col-md-12">
					<app-jobs-table [jobs]="jobs"></app-jobs-table>
				</div>
			</div>
		</div>
	</div>
</div>
